In [2]:
USE UniDatenbank;
select raum 
from Professoren 
where Vorname = 'Peter' and Nachname = 'Von Matt'

raum
8

In [3]:
USE UniDatenbank;
select count(*) as Anzahl_Studenten
from Studenten 
where Studienbeginn < '20190101'

Anzahl_Studenten
5

In [4]:
USE UniDatenbank;
select count(*) as Anzahl_Assisten_ohne_Chef
from Assistenten
where Chef is null

Anzahl_Assisten_ohne_Chef
2

In [6]:
USE UniDatenbank;
select Vorname + ' ' + Nachname as 'Name'
from Assistenten 
where Vorname like '_r%'

Name
Cristiano Ronaldo
Arjen Robben

In [7]:
USE UniDatenbank;
select min(Geburtsdatum) 
from Assistenten

(No column name)
1979-05-19 00:00:00

In [8]:
USE UniDatenbank;
select count(*)  as Anzahl_Studenten
from Studenten 
where MatrNr like '13-%'

select * from assistenten

Anzahl_Studenten
5

PersNr,Vorname,Nachname,Chef,Geburtsdatum
1,Lionel,Messi,NULL,1987-06-24 00:00:00
2,Xherdan,Shaqiri,4,1991-10-10 00:00:00
3,Sami,Khedira,3,1987-04-04 00:00:00
4,Cristiano,Ronaldo,3,1985-02-05 00:00:00
5,Wayne,Rooney,NULL,1985-10-24 00:00:00
6,Arjen,Robben,7,1984-01-23 00:00:00
7,Andrea,Pirlo,1,1979-05-19 00:00:00
8,Robert,Lewandowski,3,1988-08-21 00:00:00
9,Luis,Suàrez,5,1987-01-24 00:00:00
10,Alexis,Sanchez,2,1988-12-19 00:00:00

In [9]:
USE UniDatenbank;
select vorname, nachname 
from Studenten 
where vorname like '%a%'
order by Nachname desc

vorname,nachname
Priska,Weber
Slobodan,Stojanovic
Zoran,Stefanovski
Marco,Maggi
Jean-Paul,Léchenne
Martin,Isler
Marian,Genkinger
Hans,Dubach
Paolo,Di Lavello
Eliane,Burri
Slobodanka,Babaja

In [10]:
USE UniDatenbank;
select count(*) as Anzahl_Prüfungen
from Pruefungen 
where not note is null

Anzahl_Prüfungen
9

In [11]:
USE UniDatenbank;
select count(*) as Anzahl_Studenten 
from VorlesungBesuch 
where VorlNr = (select VorlNr from Vorlesungen where Titel = 'Kinetik') 
-- oder 
select v.Titel, count(*) as Anzahl_Studenten
from VorlesungBesuch vb 
inner join Vorlesungen v on v.VorlNr = vb.VorlNr 
where v.Titel = 'Kinetik'
group by v.Titel

Anzahl_Studenten
4

Titel,Anzahl_Studenten
Kinetik,4

In [12]:
USE UniDatenbank;
select Vorname, Nachname 
from Studenten where StudNr in (
    select StudNr 
    from VorlesungBesuch 
    group by StudNr
    having count(*) >= 3
)

Vorname,Nachname
Miguel,Sanchez
Slobodan,Stojanovic
Marian,Genkinger

In [13]:
USE    UniDatenbank;
select count(*) as Anzahl_Pruefungen 
from Pruefungen 
where PersNr = 7

Anzahl_Pruefungen
3

In [15]:
USE UniDatenbank;
SELECT count(*) as Anzahl_Note_55 
from Pruefungen 
where Note = 5.5

Anzahl_Note_55
2

In [16]:
USE UniDatenbank;
select count(*) as Anzahl_Studenten
from Studenten 
where Wohnort in ('Bern', 'Basel')

Anzahl_Studenten
4

In [19]:
USE UniDatenbank;
select count(*) as Anzahl_Studenten
from Studenten 
where Wohnort is NULL or Wohnort = ''

Anzahl_Studenten
4

In [20]:
USE UniDatenbank;
select Vorname 
from Assistenten 
where Geburtsdatum = (select min(Geburtsdatum) from Assistenten)

Vorname
Andrea

In [21]:
USE UniDatenbank;
select avg(Note) as Durchschnittsnote
from Pruefungen 
where StudNr = 24

Durchschnittsnote
4.750000

In [22]:
USE UniDatenbank;
select v1.Titel as Vorgänger, v2.Titel as Nachfolger 
from Voraussetzung vor 
inner join Vorlesungen v1 ON vor.Vorgaenger = v1.VorlNr 
inner join Vorlesungen v2 ON vor.Nachfolger = v2.VorlNr

Vorgänger,Nachfolger
Elektrotechnik,Radiologie
Radiologie,Quantenphysik

In [23]:
USE UniDatenbank;
select case when Chef is null then 'nein, ' + Vorname + ' hat keinen Chef' else 'ja, ' + Vorname + ' hat einen Chef' end  
from Assistenten 
where Geburtsdatum = (select min(Geburtsdatum) from Assistenten)

(No column name)
"ja, Andrea hat einen Chef"